## Loc, iloc and []
Pandas supports three types of multi-axis indexing for object seletion.
- **loc** is a method for label based indexing.
- **iloc** is a method for integer position based indexing.
- **[colnamn]** returns the column as a pandas Series object.

**Important note:** When slicing, the upper bound is *included* for loc, while *excluded* for iloc

In [4]:
import pandas as pd

In [6]:
column_values = [f"Column{i}" for i in range(1, 5)]
index_values = [chr(i) for i in range(65, 72)]

df = pd.DataFrame([[f"{ind}{col}" for col in range(1,5)] for ind in index_values],
                  index=index_values, columns=column_values)

df

  Column1 Column2 Column3 Column4
A      A1      A2      A3      A4
B      B1      B2      B3      B4
C      C1      C2      C3      C4
D      D1      D2      D3      D4
E      E1      E2      E3      E4
F      F1      F2      F3      F4
G      G1      G2      G3      G4

In [38]:
# Using no slices, returns the value of a single cell
df.iloc[1, 0]

# Using slice on one axis return a pandas Series object
df.iloc[1, :] # Full row 1 ("B")
df.iloc[:, 0] # Full column 0 ("Column 1")
df.iloc[:3, 1]# First 3 cells of column 1 ("Column2")

# Using slice on both axis returns a pandas DataFrame object
df.iloc[:2, :2] # returns the four cells in the upper left corner
df.iloc[2:6, 1:3] # return col 2 & 3, and rows C-F
df.iloc[:, :] # returns a copy of dataframe

# Lists can be used instead of slices for either axis
df.iloc[[0, 3, 5], [1, 3]]

  Column2 Column4
A      A2      A4
D      D2      D4
F      F2      F4

In [39]:
# Using no slices, returns the value of a single cell
df.loc["B", "Column1"]

# Using slice on one axis return a pandas Series object
df.loc["B", :] # Full row 1 ("B")
df.loc[:, "Column1"] # Full column 0 ("Column 1")
df.loc[:"C", "Column2"] # First 3 cells of column 1 ("Column2")

# Using slice on both axis returns a pandas DataFrame object
df.loc[:"B", :"Column2"] # returns the four cells in the upper left corner
df.loc["C":"F", "Column2":"Column3"] # return col 2 & 3, and rows C-F
df.loc[:, :] # returns a copy of dataframe

# Lists can be used instead of slices for either axis
df.loc[["A", "D", "F"], ["Column2", "Column4"]]

  Column2 Column4
A      A2      A4
D      D2      D4
F      F2      F4

In [47]:
# df[colname] returns a column as a pandas Series object
df["Column2"]

# df[[list of colnames]] returns a new dataframe withe the given columns
df[["Column1", "Column4", "Column3", "Column1"]]

# series[index] returns a scalar value
df["Column2"]["D"]

# Indexing a dataframe with a list (of columns) returns a dataframe,
# so indexingagain would be on the new dataframe (but don't do this).
df[["Column1", "Column4", "Column3", "Column1"]]["Column3"]

A    A3
B    B3
C    C3
D    D3
E    E3
F    F3
G    G3
Name: Column3, dtype: object