- **Pseudonymization:** Replacing identifying information in such a way that the process can be reversed (with extra information)

- **Anonymization:** Replacing identifying information with the *itent* to be fully non-reversable.

### Techniques for anonymization
- **Hashing / Crypto** Fredrik Johansson => abd8776c76da576da576d5ca78687e7f76a
- **Data masking** fredrik@everyloop.com  => f******@******.com
- **Generalization** Age: 34   =>  Age: 30-40
- **Aggregation** Group and aggregate
- **Removing data** Remove column/columns from dataset.

# Anoymization with hash
- There are many types of hash functions (algorithms). Example MD5, SHA-128, SHA256
- hash functions are used to map data of arbitrary size to fixed-size values
- The same input always results in the same output (given it's using the same algorithm)
- (even) a small change in the input yields a totally different output string.
- It's not possible to reverse the process (i.e, given the ouput hash we can not get the original string back)

In [18]:
import hashlib as hl

text = "top secret information".encode('utf-8')

hl.sha256(text).hexdigest()

'd22b947784e2fb59e57d66264dce9bb431373687cc19f6e5d8d53d787331f90a'

In [22]:
print(f"{hl.sha256('hello world'.encode()).hexdigest() = }")
print(f"{hl.sha256('Hello world'.encode()).hexdigest() = }")

hl.sha256('hello world'.encode()).hexdigest() = 'b94d27b9934d3e08a52e52d7da7dabfac484efe37a5380ee9088f7ace2efcde9'
hl.sha256('Hello world'.encode()).hexdigest() = '64ec88ca00b268e5ba1a35678a1b5316d212f4f366b2477232534a8aeca37f3c'

In [23]:
import pandas as pd

In [24]:
employees = pd.read_json("../Data/employees.json")
employees.head(3)

  first_name last_name          job_title  salary       department
0       John       Doe     Sales Director  120000            Sales
1       Jane     Smith     HR Coordinator   60000  Human Resources
2    Michael   Johnson  Software Engineer  110000               IT

In [27]:
employees["first_name"] = employees["first_name"].apply(lambda name: hl.sha256(name.encode()).hexdigest())

In [32]:
name = input("Enter name: ")
name_hash = hl.sha256(name.encode()).hexdigest()
print(name_hash)
employees.query("first_name == @name_hash")

a8cfcd74832004951b4408cdb0a5dbcd8c7e52d43f7fe244bf720582e05241da

,first_name,last_name,job_title,salary,department
0,a8cfcd74832004951b4408cdb0a5dbcd8c7e52d43f7fe2...,Doe,Sales Director,120000,Sales