## Exercises: Modify the dataset

In [2]:
import pandas as pd
employees = pd.read_json("../Data/employees.json")

**Current state of the "employees" dataset**

Rerun the code block below after each modification you do, to see its current state.

In [3]:
employees

  first_name last_name              job_title  salary       department
0       John       Doe         Sales Director  120000            Sales
1       Jane     Smith         HR Coordinator   60000  Human Resources
2    Michael   Johnson      Software Engineer  110000               IT
3      Sarah  Williams   Marketing Specialist   75000            Sales
4      David     Brown             HR Manager   90000  Human Resources
5      Emily     Davis  IT Support Specialist   55000               IT
6      Jacob    Wilson   Sales Representative   80000            Sales
7     Olivia     Moore      Marketing Manager  100000            Sales
8      Ethan       Lee      Financial Analyst   85000            Sales
9     Sophia    Taylor           HR Assistant   50000  Human Resources

**Do the following operations on the "employees" dataset:**

**OP1:** Create a new column "name" which contains the full name (eg. "John Doe") for each employee.

<details>
<summary>Result</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>name</b><br>
&nbsp;&nbsp;&nbsp;John Doe<br>
&nbsp;&nbsp;&nbsp;Jane Smith<br>
&nbsp;&nbsp;&nbsp;Michael Johnson<br>
&nbsp;&nbsp;&nbsp;...<br>
</details>

<div style="display: inline">
<b>OP2:</b> Create a new column "email" with the following format: firstname.lastname@mockcompany.com
</div><br>

*Note: email addresses should be all lower case.*

<details>
<summary>Result</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>email</b><br>
&nbsp;&nbsp;&nbsp;john.doe@mockcompany.com<br>
&nbsp;&nbsp;&nbsp;jane.smith@mockcompany.com<br>
&nbsp;&nbsp;&nbsp;michael.johnson@mockcompany.com<br>
&nbsp;&nbsp;&nbsp;...<br>
</details>

**OP3:** Remove the columns "first_name" and "last_name", and put the columns "name" and "email" first.
<details>
<summary>Result</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>name&nbsp;&nbsp;&nbsp;email&nbsp;&nbsp;&nbsp;job_title&nbsp;&nbsp;&nbsp;salary&nbsp;&nbsp;&nbsp;department</b>
</details>

**OP4:** Update column titles to make the first letter in each title upper case. Also replace the underscore character in "job_title" with a space.
<details>
<summary>Result</summary>
<br>
&nbsp;&nbsp;&nbsp;<b>Name&nbsp;&nbsp;&nbsp;Email&nbsp;&nbsp;&nbsp;Job title&nbsp;&nbsp;&nbsp;Salary&nbsp;&nbsp;&nbsp;Department</b>
</details>

**OP5:** Change the data type of column "Salary" to float64.
<details>
<summary>Result</summary>
<br>
&nbsp;&nbsp;&nbsp;Salary: int64 => float64
</details>

**OP6:** The company decided to give everyone in sales a 10% salary increase. Update the dataset accordingly.

<details>
<summary>Result</summary>
<br>
&nbsp;&nbsp;&nbsp;John Doe&nbsp;&nbsp;&nbsp;132000.0<br>
&nbsp;&nbsp;&nbsp;Jane Smith&nbsp;&nbsp;&nbsp;60000.0<br>
&nbsp;&nbsp;&nbsp;Michael Johnson&nbsp;&nbsp;&nbsp;110000.0	<br>
&nbsp;&nbsp;&nbsp;Sarah Williams&nbsp;&nbsp;&nbsp;82500.0<br>
&nbsp;&nbsp;&nbsp;...<br>
</details>

**OP7:** The company hired a new software engineer. Add a new row with appropriate values to the dataset.
<details>
<summary>Result</summary>
<br>
<b>Example:</b><br>
&nbsp;&nbsp;&nbsp;<b>Name:</b> Jennifer Lee<br>
&nbsp;&nbsp;&nbsp;<b>Email:</b> jennifer.lee@mockcompany.com<br>
&nbsp;&nbsp;&nbsp;<b>Job title:</b> Software Engineer<br>
&nbsp;&nbsp;&nbsp;<b>Salary:</b> 100.000<br>
&nbsp;&nbsp;&nbsp;<b>Department:</b> IT<br>
</details>

**OP8:** The company decided to hire a lot of new software engineers.

Create python code that asks the user to input the name and salary of the new software engineer, and then automatically adds the new employee to the dataset. Also, ensure that each employee get a unique index in the dataset.

<details>
<summary>Result</summary>
<br>
<b>Example:</b><br>
&nbsp;&nbsp;&nbsp;Input name of new software engineer: Daniel Brown<br>
&nbsp;&nbsp;&nbsp;Input the salary for Daniel Brown: 95.000<br>
<br>
&nbsp;&nbsp;&nbsp;<b>Name:</b> Daniel Brown<br>
&nbsp;&nbsp;&nbsp;<b>Email:</b> daniel.brown@mockcompany.com<br>
&nbsp;&nbsp;&nbsp;<b>Job title:</b> Software Engineer<br>
&nbsp;&nbsp;&nbsp;<b>Salary:</b> 95.000<br>
&nbsp;&nbsp;&nbsp;<b>Department:</b> IT<br>
</details>

**OP9:** Olivia Moore quits her job. Remove her data from the dataset.

**OP10**: Make sure that the python script in *OP8* still gives a unique index to each new employee, even after removing rows.

### Final note:
Just to be clear, a real company would most likely store their employee data in a database, and loading them into a pandas dataframe to do these kind of operations wouldn't make much sense. The above examples are purely for learning the different operations of pandas.